.conta {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "q w e"
    "r t u";
}

.q { grid-area: q; }

.w { grid-area: w; }

.e { grid-area: e; }

.r { grid-area: r; }

.t { grid-area: t; }

.u { grid-area: u; }

.q{
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 90%;
}
